@using Entities.Models
@inject NavigationManager Navigation

@namespace BlazorAppTier1.Pages.PostPage 

<div class="row">

    @if (postToShow == null) {
        <p> Loading posts...</p>
    }else {
        @foreach (var post in postToShow) {
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="candidate-list candidate-grid">
                <div class="candidate-list-image">
                    <img class="img-fluid" src="@post.Images" alt="">
                </div>
            <div class="candidate-list-details">
                <div class="candidate-list-info">
                    <div class="candidate-list-title">
                        <h5>
                            <a href="#" @onclick="@(() => Navigation.NavigateTo("/PostDetails/" + post.Id))">@post.Title</a>
                        </h5>
                    </div>
                    <div class="candidate-list-option">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-user pr-1"></i>@post.Writer.GetName()
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt pr-1"></i>@post.Address
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="candidate-list-favourite-time">
                    <a class="candidate-list-favourite order-2" href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <span class="candidate-list-time order-1">
                        <i class="far fa-clock pr-1"></i>@post.DateCreated.GetDate()
                    </span>
                </div>
            </div>
        </div>
    </div>
}

                    }

                </div>

@code {
    [Parameter]
    public List<Post> postToShow { get; set; }
}