@page "/PostDetails/{Id:int}"
@using Entities.Models
@using Contracts
@inject IPostService _postService

<h3>PostDetails</h3>


<div class="section-fluid-main">
    <div class="section">
        <div class="info-wrap mob-margin">
            <p class="title-up">@_user.GetName()</p>
            <h2>@_post.Title</h2>
            <h4 >&euro; @_post.Price</h4>
            <div class="section-fluid">
                <input class="desc-btn" type="radio" id="desc-1" name="desc-btn" checked/>
                <label for="desc-1">Description</label>
                <input class="desc-btn" type="radio" id="desc-2" name="desc-btn"/>
                <label for="desc-2">Details</label>


                <div class="details">
                    <div class="section-fluid desc-sec accor-1">
                        <p>@_post.Description</p>
                    </div>
                    <div class="section-fluid desc-sec accor-2">
                        <div class="section-inline">
                            <p><span> Condition @_post.Condition</span><br>test</p>
                        </div>
                        <div class="section-inline">
                            <p><span>@_post.PhoneNumber</span><br>test</p>
                        </div>
                        <div class="section-inline">
                            <p>
                                <span>@_post.Email</span><br>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div>
                <a href="#" class="btn"><i class="uil uil-shopping-cart icon" style="margin-top: 10%"></i>Bookmark</a>
            </div>
        </div>


        <div class="clearfix"></div>
        <input class="color-btn for-color-1" type="radio" id="color-1" name="color-btn" checked/>

        <input class="color-btn for-color-2" type="radio" id="color-2" name="color-btn"/>
        <label class="color-2" for="color-2"></label>

        <div class="clearfix"></div>
        <div class="info-wrap">

        </div>

        <div class="img-wrap chair-1"></div>
        <div class="img-wrap chair-2"></div>
        <div class="img-wrap chair-3"></div>
        <div class="img-wrap chair-4"></div>
        <div class="img-wrap chair-5"></div>
        <div class="img-wrap chair-6"></div>
        <div class="back-color"></div>
        <div class="back-color chair-2"></div>
        <div class="back-color chair-3"></div>
        <div class="back-color chair-4"></div>
        <div class="back-color chair-5"></div>
        <div class="back-color chair-6"></div>


        <a href="https://front.codes/" class="logo" target="_blank">
            <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
        </a>
    </div>
</div>


@code {

    [Parameter]
    public int Id { get; set; }

    private Post? _post = new Post();
    private User? _user = new User();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _post = await _postService.GetPostDetails(Id);
            _user = _post.Writer;
        }
        catch (Exception e)
        {
            throw new Exception(e.Message);
        }
    }

}